.conteiner {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='2000' height='650' preserveAspectRatio='none' %3e%3cg mask='url(%26quot%3b%23SvgjsMask1639%26quot%3b)' fill='none'%3e%3crect width='2000' height='650' x='0' y='0' fill='url(%23SvgjsLinearGradient1640)'%3e%3c/rect%3e%3cpath d='M 0%2c255 C 200%2c287.6 600%2c405.8 1000%2c418 C 1400%2c430.2 1800%2c336.4 2000%2c316L2000 650L0 650z' fill='rgba(92%2c 92%2c 240%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1639'%3e%3crect width='2000' height='650' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='100%25' x2='50%25' y2='0%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1640'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(92%2c 92%2c 240%2c 0.02)' offset='0.8'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
}

.conteinerSobreMi {
    display: block;
    width: 70vh;
    height: 60vh;

}

.conteinerContenido {

    width: 65vh;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
    padding-left: 30px;
    padding-right: 30px;
    color: black;
}

@supports (backdrop-filter: none) {
    .conteinerContenido {
        /* backdrop-filter: blur(3rem); */
    }
}

@supports not (backdrop-filter: none) {
    .conteinerContenido {
        /* background-image: blurred-hero.png; */
    }
}

.shape {

    width: 600px;
    height: 600px;
    position: absolute;
}

.parrafo {
    text-align: justify;
    font-size: 18px;
}

.titulo {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 30px;
}

.conteinerMySkills {
    width: 40vh;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.275);
    border-radius: 30px;
    padding: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.titleMySkills {
    text-align: center;
    font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
    font-weight: bold;
    color: #000000;
    margin-top: 20px;
    font-size: 40px;
}

@media (max-width: 540px) {

    /* .conteiner {
        display: grid;
        align-content: space-around;
        justify-items: center;
        background: rgb(92, 92, 240);
    }

    .conteinerSobreMi {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .conteinerContenido {
        width: 42vh;
        height: 50vh;
        color: white;
    }
    .titleMySkills{
        color: white;
    } */

    .conteiner {
        background-image: url("../Content/wave-haikei.svg");
        background-position: bottom;
        display: grid;
        grid-template-rows: fit-content(50%);
        justify-items: center;
        padding: 20px;
    }

    .conteinerSobreMi {
        width: 80%;
        height: auto;
        padding-bottom: 10px;

    }

    .conteinerContenido {
        width: 100%;
        height: 70%;
    }

    .parrafo {
        text-align: justify;
        font-size: 13px;
    }

    .titulo {
        font-weight: bold;
        font-size: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .titleMySkills {
        font-size: 30px;
    }
}

@media (max-width: 1400px) {

    /* .conteiner {
        display: grid;
        align-content: space-around;
        justify-items: center;
        background: rgb(92, 92, 240);
    }

    .conteinerSobreMi {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .conteinerContenido {
        width: 42vh;
        height: 50vh;
        color: white;
    }
    .titleMySkills{
        color: white;
    } */


    .conteinerSobreMi {
        width: 80%;
        height: auto;
        padding-bottom: 10px;

    }
    /* .conteinerContenido {
        width: 100%;
        height: 70%;
    }

    .parrafo {
        text-align: justify;
        font-size: 13px;
    }

    .titulo {
        font-weight: bold;
        font-size: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .titleMySkills {
        font-size: 30px;
    } */




}